{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Iniciar Votação{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/iniciar-votacao.css' %}">

{% endblock head %}

{% block content %}

{% load crispy_forms_tags %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Iniciar Votação</h3><p>
        <hr>

        {% if erro %}

            <p class="msg-erro">
                ERRO: não foi possível realizar o cadastro !!!<br/>
                Verifique e corrija os erros abaixo:<br/>
            </p>
            <hr>

        {% endif %}

        <form action="{% url 'iniciar-votacao' %}" method="POST">{% csrf_token %}

            {{ form|crispy }}

            <p>
                <input type="submit" value="Inicar Votação">
            </p>

        </form>

        <p>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </p>

    </div>
</div>

{% endblock content %}
