{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Iniciar Votação{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/iniciar-votacao.css' %}">

{% endblock head %}

{% block content %}

{% load crispy_forms_tags %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Iniciar Votação</h3><p>
        <hr>

        {% if erro %}
        
            <p class="msg-erro">
                ERRO: não foi possível cadastrar os dados !!!<br/>
                Formulário incompleto !!!<br/>
            </p>
            <hr>

        {% endif %}

        <form action="{% url 'iniciar-votacao' %}" method="POST">{% csrf_token %}

            <p>
                <label for="urna">Urna:</label><br/>
                <input type="text" id="urna" name="urna" class="urna" maxlength="50" value="{{ urna }}" readonly>
                <input type="text" id="urna_id" name="urna_id" value="{{ urna_id }}" hidden readonly>
            </p>

            {{ form|crispy }}

            <input type="submit">

        </form>

    </div>
</div>

{% endblock content %}
