
{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Iniciou Votação com Sucesso !!!{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/iniciar-votacao-sucesso.css' %}">

{% endblock head %}

{% block content %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Iniciou Votação com Sucesso !!!</h3></p>
        <hr>

        <p class="msg-sucesso">
            Votação iniciada com SUCESSO !!!<br/>
            OBS: Você será redirecionado(a)<br/>
            para página de início.<br/>
        </p>

    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    setTimeout(function(){
      window.location.href = "{% url 'index' %}";
    },10000);
});
</script>

{% endblock content %}
