{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Selecionar Eleitor{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/selecionar-eleitor.css' %}">

{% endblock head %}

{% block content %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Urna Eletrônica - Selecionar Eleitor</h3></p>
        <hr>

        <form action="{% url 'selecionar-eleitor' %}" method="POST">{% csrf_token %}
            
            <p>
                <label for="urna">Urna:</label><br/>
                <input type='text' name='urna' id='urna' value='{{ urna }}' size='50' readonly>
                <input type='text' name='urna_id' id='urna_id' value='{{ urna_id }}' size='5' hidden readonly>
            </p>

            <p>
                {% if erro %}

                    <hr>
                    <span class="msg-erro"><br/>
                        ERRO: o eleitor escolhido:<br/>
                        {{ eleitor }}<br/>
                        já votou! Escolha outro eleitor!<br/>
                    </span>
                    <hr>

                {% endif %}

                <label for="titulo_eleitor">Escolha um eleitor:</label><br/>
                <select name="titulo_eleitor" id="titulo_eleitor">
                    {% for eleitor in eleitores %}
                        <option value="{{ eleitor.titulo_eleitor }}">{{ eleitor }}</option>
                    {% endfor %}
                </select>

            </p>

            <p>
                <input type="submit" value="Votar">
            </p>
        </form>

        <p>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </p>

    </div>
</div>

{% endblock content %}