{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Terminar Votação{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/terminar-votacao.css' %}">

{% endblock head %}

{% block content %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Terminar Votação</h3></p>
        <hr>

        {% if erro %}

            <p class="msg-erro">

                {% if msg_erro == 1 %}
                    ERRO: não foi possível terminar a votação !!!<br/>
                    O dia de hoje não é dia de votação.<br/>
                    Volte noutro dia, após a votação.<br/>
                {% endif %}

                {% if msg_erro == 2 %}
                    ERRO: não foi possível terminar a votação !!!<br/>
                    A votação nem se iniciou, volte<br/>
                    após o encerramento da votação.<br/>
                {% endif %}

                {% if msg_erro == 3 %}
                    ERRO: não foi possível terminar a votação !!!<br/>
                    A votação está em andamento, volte<br/>
                    após o encerramento da votação.<br/>
                {% endif %}

            </p>
            <hr>

        {% else %}

            Em construção!!!

        {% endif %}

    </div>
</div>

{% endblock content %}