{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Terminar Votação{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/terminar-votacao.css' %}">

{% endblock head %}

{% block content %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Terminar Votação</h3></p>
        <hr>

        {% if erro %}

            <p class="msg-erro">
                ERRO: não foi possível terminar a votação !!!<br/>
                Pode ter sido pela data e/ou horário da votação,<br/>
                favor verificar o motivo e volte aqui mais tarde.<br/>
            </p>
            <hr>

        {% else %}

            Em construção!!!

        {% endif %}

    </div>
</div>

{% endblock content %}