{% extends "votar/base.html" %}

{% block title %}Urna Eletrônica - Votar{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/urna.css' %}">

{% endblock head %}

{% block content %}

    <div class="urna">
      <div class="tela">
        <div class="d-1">
          <div class="d-1-left">
            <div class="d-1-1">
              <span>Eleição Para:</span>
            </div>
            <div class="d-1-2">
              <div id="num1" class="numero pisca">_</div>
              <div id="num2" class="numero"></div>
            </div>
            <div class="d-1-3">
              Nome: <span id="politico"></span><br>
              Partido: <span id="partido"></span><br>
            </div>
          </div>
          <div class="d-1-center">
            <div class="d-1-1-center">
              <span>{{ votos.0.cargo|upper }}</span>
            </div>
            <div class="d-1-foto">
              <img id="foto" src=''>
            </div>
          </div>
          <div class="d-1-right">
            <img src="{% static 'img/justica-eleitoral.png' %}">
          </div>
        </div>

        <div class="d-2">
            <div class="msg">
                Aperte a tecla: <br />
                CONFIRMA para CONFIRMAR este voto <br />
                CORRIGE para REINICIAR este voto
            </div>
            <div id="erro" class="msg color esconder">
                Erro! Voto inválido: <br />
                Escolha um candidato, ou vote NULO / BRANCO <br />
                Tecle CORRIGE para REINICIAR este voto
            </div>
        </div>

      </div>

      <div class="teclado">
        <div class="teclado-linha">
          <div id="dig1" class="teclado-botao">1</div>
          <div id="dig2" class="teclado-botao">2</div>
          <div id="dig3" class="teclado-botao">3</div>
        </div>
        <div class="teclado-linha">
          <div id="dig4" class="teclado-botao">4</div>
          <div id="dig5" class="teclado-botao">5</div>
          <div id="dig6" class="teclado-botao">6</div>
        </div>
        <div class="teclado-linha">
          <div id="dig7" class="teclado-botao">7</div>
          <div id="dig8" class="teclado-botao">8</div>
          <div id="dig9" class="teclado-botao">9</div>
        </div>
        <div class="teclado-linha">
          <div id="dig0" class="teclado-botao">0</div>
        </div>

        <div class="teclado-linha">
          <div id="btn-branco" class="teclado-botao botao-branco">BRANCO</div>
          <div id="btn-corrige" class="teclado-botao botao-corrige">CORRIGE</div>
          <div id="btn-confirma" class="teclado-botao botao-confirma">CONFIRMA</div>
        </div>
      </div>
    </div>
<script type="text/javascript">
$(document).ready(function(){
    let base = '_';
    $("#dig1").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig1 = $('#dig1').text();
        if ( num1 == base ) {
            $('#num1').text( dig1 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig1 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig2").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig2 = $('#dig2').text();
        if ( num1 == base ) {
            $('#num1').text( dig2 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig2 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig3").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig3 = $('#dig3').text();
        if ( num1 == base ) {
            $('#num1').text( dig3 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig3 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig4").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig4 = $('#dig4').text();
        if ( num1 == base ) {
            $('#num1').text( dig4 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig4 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig5").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig5 = $('#dig5').text();
        if ( num1 == base ) {
            $('#num1').text( dig5 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig5 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig6").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig6 = $('#dig6').text();
        if ( num1 == base ) {
            $('#num1').text( dig6 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig6 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig7").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig7 = $('#dig7').text();
        if ( num1 == base ) {
            $('#num1').text( dig7 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig7 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig8").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig8 = $('#dig8').text();
        if ( num1 == base ) {
            $('#num1').text( dig8 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig8 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig9").click(function(){
        $('#erro').addClass('esconder');    
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig9 = $('#dig9').text();
        if ( num1 == base ) {
            $('#num1').text( dig9 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig9 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#dig0").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        let dig0 = $('#dig0').text();
        if ( num1 == base ) {
            $('#num1').text( dig0 );
            $('#num1').removeClass('pisca');
            $('#num2').text( base );
            $('#num2').addClass('pisca');
        } else if ( num2 == base ) {
            $('#num2').text( dig0 );
            $('#num2').removeClass('pisca');
            get_resultado();
        }
    });
    $("#btn-branco").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        $('#num1').text('');
        $('#num2').text('');
        $('#num1').removeClass('pisca');
        $('#num2').removeClass('pisca');
        $('#politico').text( "Branco" );
        $('#partido').text( "BRANCO" );
        $('#foto').attr('src', '{{ MEDIA_URL }}branco.png');
    });
    $("#btn-corrige").click(function(){
        $('#erro').addClass('esconder');
        $('#erro').removeClass('mostrar');
        $('#num1').text(base);
        $('#num1').addClass('pisca');
        $('#num2').text('');
        $('#num2').removeClass('pisca');
        $('#politico').text('');
        $('#partido').text('');
        $('#foto').attr('src', '');        
    });
    $("#btn-confirma").click(function(){
        let politico_v = $('#politico').text();
        const politicos = ['Branco', 'Nulo'];
        {% for politico in votos.politico %}
            politicos.push(politico);
        {% endfor %}
        let politico = politicos.find(encontra_politico);
        function encontra_politico(value, index, array) {
            return value == politico_v;
        }
        if( politico ) {
            $('#erro').addClass('esconder');
            $('#erro').removeClass('mostrar');
            /* $.post("{% url 'registrar-voto' %}",{
                'votos': votos,
                'politico': politico,
                'titulo_eleitor': titulo_eleitor,
                'urna': urna
            }); */
        } else {
            $('#erro').addClass('mostrar');
            $('#erro').removeClass('esconder');
        }
    });
    function get_resultado() {
        let num1 = $('#num1').text();
        let num2 = $('#num2').text();
        if ( num1 != base && num2 != base ) {
            let partido = num1 + num2;
            let controle = 0;
            {% for voto in votos %}
            if ( partido == "{{ voto.num_partido }}" ) {
                controle = 1;
                $('#politico').text( "{{ voto.politico }}" );
                $('#partido').text( "{{ voto.partido }}" );
                $('#foto').attr('src', '{{ MEDIA_URL }}{{voto.foto}}');
            }
            if ( controle == 1 ) {
                return true;
            }
            {% endfor %}
        }
        $('#politico').text( "Nulo" );
        $('#partido').text( "NULO" );
        $('#foto').attr('src', '{{ MEDIA_URL }}nulo.png');
        return false;
    }
});
</script>
{% endblock content %}