.msg-erro {
    text-align: left;
    vertical-align: middle;
    width: 100%;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: tomato;
}

h3 {
    text-align: center;
    vertical-align: middle;
    color: darkblue;
}
