{% extends "usuarios/base.html" %}

{% block title %}Urna Eletrônica - Assistente de Sala{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/assistente.css' %}">

{% endblock head %}

{% block content %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <p><h3>Urna Eletrônica - Assistente de Sala</h3></p>
        <hr>

        <p>
            <a href="{% url 'selecionar-eleitor' %}"><button>Selecionar Eleitor</button></a>
        </p>

        <p>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </p>

    </div>
</div>

{% endblock content %}