{% extends "usuarios/base.html" %}

{% block title %}Urna Eletrônica - Login{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <h3>Urna Eletrônica - Login</h3>
        <hr>

        <form method="POST">
            
            {% csrf_token %}
            
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}
            
            <button type="submit">Login</button>

        </form>

    </div>
</div>

{% endblock content %}