{% extends "usuarios/base.html" %}

{% block title %}Urna Eletrônica - Login{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block content %}

{% load crispy_forms_tags %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <h5>Urna Eletrônica - Login</h5>
        <hr>

        <form method="POST">
            
            {% csrf_token %}
            
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}
            
            <button type="submit">Login</button>

        </form>

    </div>
</div>

{% endblock content %}
