{% extends "usuarios/base.html" %}

{% block title %}Urna Eletrônica - Gerente de Sala{% endblock title %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gerente.css' %}">

{% endblock head %}

{% block content %}

<div class='row'>
    <div class='col-md-4 mx-auto'>

        <h5>Urna Eletrônica - Gerente de Sala</h5>
        <hr>

        <p>
            <a href="{% url 'inicio-termino-votacao' %}"><button>Definir Início e Término da Votação</button></a>
        </p>

        <p>
            <a href="{% url 'resultado-votacao' %}"><button>Resultado da Votação</button></a>
        </p>

        <p>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </p>

    </div>
</div>

{% endblock content %}
